<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rmk.virtusa.com.quizmaster">

    <application
        android:allowBackup="true"
        android:icon="@drawable/welcome_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DashActivity" />
        <activity android:name=".MainActivity1" />
        <activity android:name=".NoTestActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".FinishActivity" />
        <activity android:name=".LeaderboardActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>